.userList{
    background-color: beige;
}
.userList h1{
    margin-top: 0;
}
.user_section{
    background-color: rgb(245, 245, 215);
    text-align: center;
    height: 499px;
}
.user_card{
    background-color: white;
    width: 400px;
    height: 210px;
    display: inline-block;
    margin: 10px;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 8px 8px 10px black;
}
.user_card button{
    width: 75px;
    height: 22px;
    /* padding: 3px 20px; */
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
}
.user_card button:hover{
    border: 1px solid red;
    font-weight: 600;
}